# If using a paid fontawesome license, uncomment the following and ensure that the FONTAWESOME_NPM_AUTH_TOKEN from the font awesome account is set.
# When using GH actions, set the token as a secret and within a build arg, or env, map the secret to FONTAWESOME_NPM_AUTH_TOKEN - e.g. FONTAWESOME_NPM_AUTH_TOKEN=${{secrets.FONTAWESOME_NPM_AUTH_TOKEN}}
# Also uncomment the ARG within the dockerfile.
#@fortawesome:registry=https://npm.fontawesome.com
#npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}